
$primary: #5745B3;
$secondary: #2A2D33;
$light: #EFEFED;
$hover: #33228C;
$active: #6C56DC;
$success: #44b25e;
$warning: #fec826;
$danger: #df4c5b;
$dark: #000;
$dark-500: #212121;
$info: #f8efe2;
$grey: #f8f8f8;
$grey-500: #c4c4c4;
$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary":$primary,
  "secondary":$secondary,
  "light":$light,
  "hover":$hover,
  "active":$active,
  "success":$success,
  "warning":$warning,
  "danger":$danger,
  "dark":$dark,
  "dark-500":$dark-500,
  "info":$info,
  "grey":$grey,
  "grey-500":$grey-500,
);

// $font-size-base: 1rem !default;

$font-sizes: (
  12: 12px,
  14: 14px,
  18: 18px,
  20: 20px,
  24: 24px,
  32: 32px,
  34: 34px,
  36: 36px,
  45: 45px,
);

@each $size in map-keys($font-sizes) {
  .fs-#{$size} {
    $pixel : unquote("px");
    font-size: #{$size}$pixel;
  }
}

$types: "bg", "btn", "border", "text";
@each $key, $color in $theme-colors {
  .btn-#{$key} {
    background-color: $color !important;
    border: 0px;
    box-shadow: none !important;
    &:hover,
    &:focus,
    &:active{
      background-color: $color !important;
      filter: brightness(90%);
      border-color: $color;
      box-shadow: none !important;
    }
  }

  .badge-#{$key} {
    background-color: $color !important;
    border: 0px;
  }

  .text-#{$key} {
    color: $color !important;
    &:hover,
    &:focus,
    &:active{
      color: $color !important;
      filter: brightness(90%);
    }
  }

  .bg-#{$key} {
    background-color: $color !important;
  }

  .border-#{$key} {
    border-color: $color !important;
  }
}

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 6,
    ),
    7: (
      $spacer * 7,
    ),
    8: (
      $spacer * 8,
    ),
    9: (
      $spacer * 9,
    ),
    10: (
      $spacer * 10,
    ),
    11: (
      $spacer * 11,
    ),
    12: (
      $spacer * 12,
    ),
  ),
  $spacers
);


$fontWeights: (100,200,300,400,500,600,700,800,900);
@each $weight in $fontWeights {
  .font-#{$weight} {
    font-weight: $weight
  }
}